<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pet Medical File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/account}">Account</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('PETOWNER')">
                    <a class="nav-link" th:href="@{/pets}">My Pets</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('DOCTOR')">
                    <a class="nav-link" th:href="@{/doctor/appointments}">My Appointments</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/userList}">User Directory</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/petList}">Pet Directory</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="nav-link">
                        <button type="submit" class="btn btn-link nav-link" style="padding: 0;">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-style">
        <strong>Account: </strong> <span sec:authentication="principal.username"></span>
    </div>
</nav>

<div class="medical-file-container">
    <h1>Pet Medical File</h1>
    <form th:action="@{/doctor/medicalFileUpdate}" th:object="${appointment}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{medicalFile.id}" />
        <input type="hidden" th:field="*{medicalFile.appointment.id}" />
        <div class="mb-3">
            <label for="petName" class="form-label">Pet Name</label>
            <input type="text" th:field="*{pet.name}" id="petName" class="form-control" placeholder="Name" readonly>
        </div>
        <div class="mb-3">
            <label for="petCategory" class="form-label">Category</label>
            <input type="text" th:field="*{pet.category}" id="petCategory" class="form-control" placeholder="Animal Category" readonly>
        </div>
        <div class="mb-3">
            <label for="medicalFile" class="form-label">Medical Condition</label>
            <input type="text" th:field="*{medicalFile.medicalCondition}" id="medicalFile" class="form-control" placeholder="Medical Condition" required>
        </div>
        <div class="mb-3">
            <label for="prescription" class="form-label">Prescription</label>
            <input type="text" th:field="*{medicalFile.medicalPrescription}" id="prescription" class="form-control" placeholder="Prescription" required>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Pet Weight</label>
            <input type="text" th:field="*{pet.weight}" id="weight" class="form-control" placeholder="Weight" readonly>
        </div>
        <button type="submit" class="btn btn-primary w-100">Update Medical File</button>

        <div class="text-center back-to-appointments" sec:authorize="hasRole('DOCTOR')">
            <a th:href="@{/doctor/appointments}" class="btn btn-secondary">Back to Appointments List</a>
        </div>
        <div class="text-center back-to-appointments" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/doctorAppointments(doctorId=${appointment.doctor.id})}" class="btn btn-secondary">Back to Appointments List</a>
        </div>

    </form>
</div>
</body>
</html>
